#menubar{	position:relative;	margin:0px;	padding:0px;	background: #FFC107;	background-repeat: repeat-x;	width:100%;	height:127px;	color:#FFFFFF;	text-align:left;	text-align:center;}
#menubar_container{text-align: center;}
.menu_item{display: inline-block;padding: 5px;}
.menu_item br{display: none;}
#menubar a:link, #menubar a:visited, #menubar a{color: #0a6184;display: block;font-family: 'Trebuchet MS';font-size: 8px;font-weight: bold;line-height: 9px;text-align: center;text-decoration: none;text-transform: uppercase;}
#menubar a:hover{	color:#CCCCCC;	}.menu_item{	font-size:8pt;}
#menubar_company_info{	position:absolute;	left:0px;	top:18px;	width:250px;	height:55%;}#company_title{	font-size:14pt;	font-weight:bold;}
#menubar_navigation{}
#menubar_footer{bottom: 0;font-size: 8pt;font-weight: bold;height: 18px;left: 0;padding-left: 5px;position: absolute;}
#menubar #menubar_footer a{display: inline;font-size: 14px;color: #ffffff;}
#menubar_date{	position:absolute;	right:10px;	height:19px;	font-size:8pt;	font-weight:bold;	bottom: 0;}