@import url(autocomplete.css);
@import url(menubar.css);
@import url(general.css);
@import url(popupbox.css);
@import url(register.css);
@import url(receipt.css);
@import url(reports.css);
@import url(tables.css);
@import url(thickbox.css);
@import url(datepicker.css);
@import url(bootstrap.css);

body
{
margin:0px;
padding:0px;
background-color:#f7f7f7;
font-family: "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif;
font-size: 0.9em;
}

a.none
{
text-decoration:none;
}


#content_area_wrapper
{
margin: 0;padding: 0;
padding-top: 55px;
}

#content_area
{
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
margin-top: 20px;
padding: 20px;
background: #ffffff;
}

#title_bar
{
position:relative;
margin-top:10px;
margin-bottom:10px;
width:100%;
height:50px;
}

#title
{
position:absolute;
bottom:0px;
left:0px;
font-size:30px;
font-weight:bold;
color:#000000;
}

#page_title
{
margin-top:8px;
font-size:30px;
font-weight:bold;
color:#000000;
text-align:center;

}

#page_subtitle
{
margin-top:8px;
font-size:16px;
font-weight:bold;
color:#000000;
text-align:center;
}

#new_button
{
position:absolute;
bottom:-5px;
right:0px;
}

#spinner
{
        float:right;
display:none;
}

#feedback_bar
{
position:fixed;
bottom:0;
left:0;
width:100%;
height:55px;
position:fixed;
opacity: 0;
filter: alpha(opacity=0);
z-index:1;
line-height:3.3;
}

#home_module_list{position: relative;padding-top: 20px;padding-bottom: 20px;overflow: hidden;}

.module_item{background-color: #fff;
background-position: -30px center;
border: 1px solid #ccc;
border-radius: 5px;
color: #565656;
display: block;
float: left;
font-size: 11px;
height: 110px;
line-height: 13px;
margin-bottom: 10px;
margin-right: 10px;
padding: 5px;
text-align: center;
text-decoration: none;
transition-duration: 0.8s;
transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
vertical-align: middle;
width: 109px;}
.module_item a{font-size: 10px;text-transform: uppercase;text-decoration: none;}
#config_wrapper{text-align:center;}
#config_info{width:70%;margin:0 auto;padding:10px;margin-bottom:30px;margin-top:10px;text-align:left;}
#footer{position:relative;margin-top:25px;margin-bottom:15px;text-align:center;font-size:11px;color:#777777;clear:both;}
table {}
body{background: #FF9800 !important;}

#config_wrapper .field_row{}
#config_wrapper .field_row label{padding: 5px;text-align: right;width: 300px;}
#config_wrapper .field_row input{width: 300px;margin-bottom: 5px;}
#config_wrapper .field_row.checbox input{width: auto;}
.content-form,
.content-btn{text-align: right;padding: 5px;}